.container {
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
  }
  img {
    position: relative;
    text-align: center;
}
  
  .slick-slide img {
    margin: auto;
  }
  
  .slick-next:before, .slick-prev:before {
    color: #3AB44E;
}
.center .slick-center img {
    opacity: 1;
    -ms-transform: scale(1.08);
    transform: scale(1.1);
    background: rgba(58, 180, 78, 0.9) !important;
    /* Drop Card */
    box-shadow: 0px 10px 20px rgba(168, 168, 168, 0.25);
    border-radius: 4px;
}
.center img {
    transition: all .3s ease;
}


.centerLM img{
  transition: all .3s ease;
}

.centerLM .slick-center img {
  opacity: 1;
  -ms-transform: scale(1);
  transform: scale(1.4,1.6);
  margin: 10%;
  /* Drop Card */
  box-shadow: 0px 10px 20px rgba(168, 168, 168, 0.25);
  border-radius: 4px;
}

.centerLM .slick-center #price{
  top: 52%;
}

.utilities-listing{
  display: flex;
  color: #3AB44E;
}


.blackOpcaity{
  filter: brightness(60%);
}