.appHeader{
    position:  absolute !important;
    width: 100% !important;
    height: 40px !important;
    left: 0px !important;
    top: 0px !important;
    background: #3AB44E !important;
  }

  .buttons{
      color: white;
      float: right;
      margin-right: 10%;
  }

  .MuiButton-root{
    text-transform: capitalize !important;
  }